<?xml version="1.0"?>
<launch>
  <include file="$(find kuka_kr16_support)/launch/Copy_load_kr16.launch"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="true"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publsher"/>
  
  <!-- load controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller"/>
  
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="false" />
    <arg name="gui" value="true" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="false" />
  </include>
  
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model kuka_kr_16"/>

</launch>
